
<form 
    [formGroup]="form" 
    class="d-flex text-center mx-auto align-items-stretch flex-column gap-3" 
    style="width: 40%;"
    (ngSubmit)="id != 0 ? updateCourse() : addCourse()"
    >
    <div>
        <label for="title" class="form-label">Curso</label>
        <input id="title" formControlName="title" class="form-control">
    </div>
    <div>
        <label for="description" class="form-label">Descripción</label>
        <textarea id="description" formControlName="description" class="form-control" rows="3"></textarea>
    </div>
    <div>
        <label for="category" class="form-label">Categoria</label>
        <input id="category" formControlName="category" class="form-control">
    </div>      
    <div>
        <label for="level" class="form-label">Nivel</label>
        <input id="level" formControlName="level" class="form-control">
    </div>   
    <div>
        <label for="price" class="form-label">Precio</label>
        <input type="number" id="price" formControlName="price" class="form-control">
    </div>  
    <div>
        <label for="instructor" class="form-label">Instructor</label>
        <input id="instructor" formControlName="instructor" class="form-control">
    </div>  
    <div>
        <label for="duration" class="form-label">Duracion</label>
        <input type="number" id="duration" formControlName="duration" class="form-control">
    </div> 
    <div>
        <label for="frontImg" class="form-label">Portada</label>
        <input type="url" id="frontImg" formControlName="frontImg" class="form-control">
    </div>   
    <div>
        <label for="urlVideo" class="form-label">Video</label>
        <input type="url" id="urlVideo" formControlName="urlVideo" class="form-control">
    </div>  
    <button type="submit" class="btn btn-success">
        @if(id != 0){
            Actualizar
        } @else {
            Agregar
        }
    </button>    
</form>



